<!-- header -->
<app-header (onmenubutton)="toogle()" ></app-header>
<mat-drawer-container class="example-container">
    <!-- side bar -->
   
    <!-- if we want to open side bar at every time ----<mat-drawer mode="side" opened> -->
      <!-- if we want to hide sometime -->
    <mat-drawer mode="side"[opened]="sidebaropen">
      <!-- to view picture -->
      <app-sidebar></app-sidebar>


    </mat-drawer>

    <!-- dash board -->
    <mat-drawer-content>

      <!-- to redirect all page to dashboard-- we use this tag -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
   

  
  
  <!-- horizontal line -->
  <mat-divider></mat-divider>

  <!-- footer -->
<app-footer></app-footer>