<!-- card -->
<div class="cards">
<!-- card1 -->
    <mat-card>
        <app-card 
        bg="orange"
        icon="person"
        description="student"
        count="1600">
    
    </app-card>
      </mat-card>

      <!-- card2 -->
    <mat-card>
        <app-card
            bg="red"
            icon="home"
            description="institution"
            count="1500"
       ></app-card> 
      </mat-card>

      <!-- card3 -->
    <mat-card>
        <app-card
            bg="green"
            icon="groups"
            description="employee"
            count="1000"
       ></app-card> 
      </mat-card>

      <!-- card4 -->
    <mat-card>
        <app-card
            bg="blue"
            icon="dashboard"
            description="placement "
            count="100"
        ></app-card>
      </mat-card>
</div>

<!-- area chart -->
<div class="area">
    <app-area-chart></app-area-chart>
</div>

<!-- table and pichart -->

<div class="tablepi">

    <!-- table -->
    <div>
        <app-table></app-table>
    </div>
    
<!-- pichart -->
<div>
    <app-pichart></app-pichart>
</div>
</div>